[Unit]
Description=Sensorhub Prometheus HTTP Wrapper
After=network-online.target
[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi/sensorhub-prometheus-http-wrapper
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target